<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h3>Autor: <%= autor %></h3>
    <img src="fotografia.jpg">
  </body>
</html>
